h1 {
    color:gray;
}
img {
    width:150px;
}

input {
    padding:10px;
    border:1px solid gray;

}

button {
    padding:6px;
    border:1px solid gray;
    color:white;
    background-color:blue;

}